.hlist {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 21px;
  color: #666b8c;
  width: 100%;
}
.vlist {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 21px;
  color: #666b8c;
  width: 100%;
}
.icon__container {
  width: 32px;
  height: 32px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #56d68b;
}
