@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

body {
  font-family: 'Open Sans', SansSerif;
}
.hlist {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 21px;
  color: #666b8c;
}
.vlist {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 21px;
  color: #666b8c;
}
